In [1]:
import numpy as np
import pandas as pd

In [2]:
#Reading the files with Pandas

file1 = pd.read_csv(r'C:\Users\pedro\Documents\GitHub\IronHackLabs\Week2\file1.csv')
file2 = pd.read_csv(r'C:\Users\pedro\Documents\GitHub\IronHackLabs\Week2\file2.csv')
file3 = pd.read_csv(r'C:\Users\pedro\Documents\GitHub\IronHackLabs\Week2\file3.csv')
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [3]:
#Adjusting the column names to be equal to all.

file1.rename(columns = {'GENDER':'Gender'}, inplace = True)

In [4]:
#Standardizing the column names

file2.rename(columns = {'GENDER':'Gender'}, inplace = True)
file1.rename(columns = {'ST': 'State'}, inplace = True)
file2.rename(columns = {'ST': 'State'}, inplace = True)

In [5]:
#Bringing all the files together.

ready_file = pd.concat([file1,file2,file3], axis=0)

In [6]:
#matchin the index with the rows

ready_file.reset_index(drop=True, inplace=True)
ready_file

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [7]:
#eliminating the duplicated values

ready_file = ready_file.drop_duplicates()

In [8]:
#Dropping the column Customer, as it is only a unique identifier for each row of data

ready_file = ready_file.drop('Customer', axis=1)

In [9]:
#Checking the data types to correct them.

ready_file.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9135 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      9134 non-null   object
 1   Gender                     9012 non-null   object
 2   Education                  9134 non-null   object
 3   Customer Lifetime Value    9127 non-null   object
 4   Income                     9134 non-null   float64
 5   Monthly Premium Auto       9134 non-null   float64
 6   Number of Open Complaints  9134 non-null   object
 7   Policy Type                9134 non-null   object
 8   Vehicle Class              9134 non-null   object
 9   Total Claim Amount         9134 non-null   float64
dtypes: float64(3), object(7)
memory usage: 785.0+ KB

In [10]:
ready_file

,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [11]:
#In order to transform Customer Lifetime Value in to float I have to take out the % sign.

ready_file['Customer Lifetime Value'] = ready_file['Customer Lifetime Value'].astype(str).str.strip('%')
ready_file['Customer Lifetime Value'] = ready_file['Customer Lifetime Value'].astype(float)

In [40]:
#I'm adjusting the number in 'Number of Open Complaints'

ready_file['Number of Open Complaints'] = ready_file['Number of Open Complaints'].astype(str).str.replace('(.*)/0/(.*)','0', regex=True)
ready_file['Number of Open Complaints'] = ready_file['Number of Open Complaints'].astype(str).str.replace('(.*)/2/(.*)','2', regex=True)
ready_file['Number of Open Complaints'] = ready_file['Number of Open Complaints'].astype(str).str.replace('(.*)/1/(.*)','1', regex=True)
ready_file['Number of Open Complaints'] = ready_file['Number of Open Complaints'].astype(str).str.replace('(.*)/3/(.*)','3', regex=True)
ready_file['Number of Open Complaints'] = ready_file['Number of Open Complaints'].astype(str).str.replace('(.*)/5/(.*)','5', regex=True)
ready_file['Number of Open Complaints'] = ready_file['Number of Open Complaints'].astype(str).str.replace('(.*)/4/(.*)','4', regex=True)
ready_file['Number of Open Complaints'] = ready_file['Number of Open Complaints'].astype('float')
ready_file['Number of Open Complaints'] = ready_file['Number of Open Complaints'].fillna(0)
ready_file['Number of Open Complaints'] = ready_file['Number of Open Complaints'].astype('int')
ready_file

,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,Washington,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,M,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,F,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,M,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,M,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,M,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [41]:
#Filtering data and Correcting typos – Filter the data in state and gender column to standardize the texts in those columns
ready_file['State'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [42]:
ready_file['State'].replace(['Cali','AZ','WA'], ['California', 'Arizona', 'Washington'], inplace=True)
ready_file['State'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [43]:
ready_file['Gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [45]:
ready_file['Gender'].replace(['F','M','Femal','female'], ['Female', 'Male', 'Female','Female'], inplace=True)

In [46]:
ready_file['Gender'].unique()

array([nan, 'Female', 'Male'], dtype=object)

In [54]:
#Replace missing values with means of the columns
ready_file['Customer Lifetime Value'] = ready_file['Customer Lifetime Value'].fillna(ready_file['Customer Lifetime Value'].mean())
#convert to integer
ready_file['Customer Lifetime Value'] = ready_file['Customer Lifetime Value'].astype(int)
ready_file['Income'] = ready_file['Income'].fillna(ready_file['Income'].mean())
ready_file['Income'] = ready_file['Income'].replace([0], ready_file['Income'].mean())

In [59]:
#Function to replace column "State" to different zones. California as West Region, Oregon as North West, and Washington as East, and Arizona and Nevada as Central

def zones(x):
    if x == 'California':
        return 'West Region'
    elif x == 'Oregon':
        return 'North West'
    elif x == 'Washington':
        return 'East'
    elif x in ['Nevada', 'Arizona']:
        return 'Central'
    else:
        return x
    
ready_file['State'] = list(map(zones, ready_file['State']))

In [60]:
ready_file

,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,East,NaN,Master,182071,37824.847055,1000.0,0.383799,Personal Auto,Four-Door Car,2.704934
1,Central,Female,Bachelor,697953,37824.847055,94.0,0.383799,Personal Auto,Four-Door Car,1131.464935
2,Central,Female,Bachelor,1288743,48767.000000,108.0,0.383799,Personal Auto,Two-Door Car,566.472247
3,West Region,Male,Bachelor,764586,37824.847055,106.0,0.383799,Corporate Auto,SUV,529.881344
4,East,Male,High School or Below,536307,36357.000000,68.0,0.383799,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,West Region,Male,Bachelor,23405,71941.000000,73.0,0.383799,Personal Auto,Four-Door Car,198.234764
12070,West Region,Female,College,3096,21604.000000,79.0,0.383799,Corporate Auto,Four-Door Car,379.200000
12071,West Region,Male,Bachelor,8163,37824.847055,85.0,3.000000,Corporate Auto,Four-Door Car,790.784983
12072,West Region,Male,College,7524,21941.000000,96.0,0.383799,Personal Auto,Four-Door Car,691.200000
12073,West Region,Male,College,2611,37824.847055,77.0,0.383799,Corporate Auto,Two-Door Car,369.600000

In [65]:
#In the column Vehicle Class, merge the two categories Luxury SUV and Luxury Car into one category named Luxury Vehicle

ready_file['Vehicle Class'] = ready_file['Vehicle Class'].replace('Luxury SUV', 'Luxury Vehicle')
ready_file['Vehicle Class'] = ready_file['Vehicle Class'].replace('Luxury Car', 'Luxury Vehicle')
ready_file['Vehicle Class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury Vehicle',
       'Sports Car', nan], dtype=object)